extends layout

block content
    if albums
        p albums:
            ul
            -for(var i = 0; i < albums.items.length; i++)
                li
                    a(href="/album?id=#{albums.items[i].id}") #{albums.items[i].title}