doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      p #{user.email} 
        a(href='/logout') sign out
    else
      a(href='/auth/google') sign in with google
    block content